@media screen  and (max-width: 640px){

    .abouth{
        width: 100% !important ;
        font-size: 24px !important;
        line-height: 1.7rem !important;
        padding-left: 0px !important;
        margin-top: -6vw;
        margin-left:-6vw;
       margin-bottom: 15vw;
    }

    .expect{
        margin-left: -3vw;
        font-size: 24px;
    }
    .container{
        display: flex !important;
        margin-left:-4vw;
        flex-direction: column !important;
        
    }
    
    .p{
        margin-left:1vw;
        margin-top: 7vw;
        font-size: 18px;
        line-height: 1.3rem;
    } 

    .socialabout{
        display: flex !important;
        flex-direction: column !important;
        justify-content: start !important;
        margin-left:3vw;
        margin-top: -10vw;
        font-size: 18px;
        align-items: start !important;
        margin-left:1vw;
    }

    .approch{
        font-size: 34px !important;
        margin-top: -5vw;
        margin-left:-3vw;
    } 
    .btn{
        margin-left:-3vw;
    }

    .img{
        
        margin-right: 40px !important;
        margin-left: 15px;
        padding-bottom: 20px;
    }

}