@media screen  and (max-width: 640px){
    .ctitle{
        font-size:16vw !important;
        margin-top: -5vw;
        margin-left: -5vw;
        margin-bottom: 0vw;
    }
    .subbtitle{
        margin-left: -4vw;
    }
   
    .conimg{
        display: none;
    }
    .conmain{
        display: flex;
        flex-direction: column;
        padding: 0vw 5vw;
    }
    form input{
        font-size: 18px !important;
    }
    
}