@media screen  and (max-width: 640px){
    .ftitle{
        font-size:34px !important;
        margin-top: 6vw;
        margin-left: -7vw;
    }

    .cardsec{
        margin: 0px !important;
        padding: 1vw 5vw !important;
    }
    .card{
        margin-top: 20px;
        display: flex !important;
        flex-direction: column !important;
    }
}