@media screen  and (max-width: 640px){
    .load-main{
        padding: 10px !important;

    }
    .load-logo{
        height: 45px;
        margin-bottom: 40px;
    }
   .load-text{
     font-size: 32px;
   }

   .load-progress{
    padding-top: 50vh;
   }

   .load-ptext{
    font-size: 40px;
   }

}

@media (min-width: 1008px) and (max-width: 1400px){
    .logo{
        margin-bottom: 40px !important ;
    }
    .load-progress{
        padding-top: 60px !important;
       }
       .load-sub-main {
        width: 75vw !important;
       }
}