@media screen  and (max-width: 640px){
    .serr-main{
        padding: 12vh 3vh 9vh !important;
       
    }
    .serr-title{
        font-size: 10vw;
    }
    .serr-in{
        padding: 20px 20px;
    }
    .serr-para-top{
        font-size: 19px;
        text-align: left;
        
    }
    .serr-img-title{
        padding-top: 12px !important;
        
       
        
    }
    .serr-img-subtitle{
        font-size: 19px !important;
        font-weight: 600;
    }
    .serr-img-index{
        display: none;
    }
    .serr-img{
        margin-top: 23px;
       
    }
    .serr-con{
        margin-top: -23vh;
    }
    .arrowww{
        margin-left: 0px !important;
    }
}