@media screen  and (max-width: 640px){
    .name{
        font-size: 7vw !important;
    }
    .index{
        font-size: 4vw;
        margin-bottom: -7vw !important;
    }
    .team-main{
        height: 90vh !important;
    }
    .team-titlecon{
        display: none;
    }
}